div.flex-dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
sidebar{
    display: block;
    height: 100%;
    width: 250px;
    background-color:#fff;
  
}
sidebar .sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 90px;
  
    border-right: 0px;

}
sidebar .sidebar-title img{
    height: 30px;
    width: 30px;
}
sidebar .sidebar-title h2{
    font-size: 10px;
    margin-top: 8px;
}
div.menu{
  
   
}
div.menu ul{
    list-style-type: none;
}
div.menu ul li{
    
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
div.menu ul li svg{
    color: #6e8efb;
    font-size: 25px;
}
div.menu ul li a{
    color: #727272;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
div.menu ul li a:hover{
    color: #4d4d4d;
}
.selected{
    background-color: #f0f0f0;
    color: black;
}
.selected a{
    color:  #6e8efb !important;
}